/* For all pages */
body {
    background-color: rgb(183, 240, 240);
    margin: 0;
}

#bannerimg {
    height: 250px;
    width: 100%;
}

table {
    position:relative;
    margin: auto;
}

td {
    padding: 10px;
}

.caption {
    float: right;
    width: 45%;
}

#footerlinks {
    bottom: 0;
}

/* For about page*/
.photo {
    width: 50%;
    float: left;
    clear: both;
}