/* For all pages */
body {
    background-color: rgb(183, 240, 240);
    margin: 0;
}

#widthset {
    width: 1024px;
    margin-left: 5px;
}

table {
    position:relative;
    margin: auto;
}

td {
    padding: 10px;
}

.caption {
    float: right;
    width: 45%;
}

#footerlinks {
    bottom: 0;
    clear: both;
}

.footerlink {
    margin:auto;
    position: relative;
}

/* For about page*/
#boardphoto {
    height: 20em;
    float: left;
    clear: both;
    padding: 10px;
}

#gravephoto {
    height: 25em;
    float: left;
    clear: both;
    padding: 10px;
}

#picsofme {
    clear: both;
}

.picsofme {
    height: 25em;
}